// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   text-align: center;
// }

.booking-title {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

h2 {
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  color: gold;
  font-size: 20px;
  margin-right: 5px;
}

.attributes-container{
  border: 1px solid #ccc!important;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.border-line {
  border: 1px solid #ccc!important;
}


// UI KIT CARDS

.review-cards {

  .card-product {
    overflow: hidden;
    height: 120px;
    // background: white;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }
}
