.card0 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("hogwarts-castle.jpg");
}

.card1 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("lotr-shire.jpg");
}

.card2 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("arrakis.jpg");
}

.card3 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("blade-runner-city.jpg");
}

.card4 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("mordor-tower.jpg");
}

.card5 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("got-castle.jpg");
}
