.navbar-lewagon {
  justify-content: space-between;
  background: #d13e56;
  color: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search-form {
  padding: 0px;
  box-shadow: none;
}
  
.nav-link {
 color: white;
}

.navbar-brand{
  color: white;
}
