

<h1>All Destinations</h1>
<div class="container">
  <div class="cards">
    <% @destinations.each do |destination| %>
      <%= link_to destination_path(destination) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= destination.address %>
          <%= destination.price %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'New Destination', new_destination_path %>
</div>
