<br>
<br>
<div class="container">
  <div class="cards">
    <% @destinations.each_with_index do |destination, i| %>
      <%= link_to destination_path(destination) do %>
        <div class="card-category card<%= i %>">
          <%= destination.address %>
          <%= destination.price %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
